extends layout

block content
  h1 Dr.Calculendar
  a Dr.Calculendar
  p このページは#{title}によって作られました!!!!!
  if error
    error_message 登録に失敗しました
  form(action="/" method="post")
    .name
      label name
      input(type="text" name="name")
