doctype html
html
  head
    title= "Dr.calculendar"
    link(rel='stylesheet', href='static/stylesheets/style.css')
  header
    a(href="/" target="blank")
      h1 Dr.calculendar
  body
    block content
